

.ticket_page_container {
    margin-bottom: 30px;
}

.ticket_page_title_box {
    color: var(--my-green);
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}

.ticket_page_title_box p {
    color: #fff;
}

.ticket_page_options {
    background-color: #1F1F1F;
    max-width: 300px;
    padding: 4px;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    margin: 20px 0;
}

.ticket_page_options button {
    color: #fff;
    padding: 8px;
    border-radius: 8px;
    width: 50%;
    font-weight: 500;
}

.green_select_btn {
    background-color: var(--my-green);
}

.transparent_select_btn {
    background-color: transparent;
}

.ticket_page_bet_options_box {
    display: flex;
    gap: 15px;
    margin-bottom: 12px;
}

.ticket_page_bet_options_box button{
    padding: 8px 20px;
    color: #fff;
    font-size: .85rem;
    text-transform: capitalize;
    border-radius: 12px;
}

.empty_ticket_render {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.empty_ticket_render p {
    color: var(--gray_color);
    max-width: 300px;
    text-align: center;
}

.empty_ticket_btn {
    background-color: var(--my-green);
    padding: 8px 12px;
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    font-size: .85rem;
}

.ticket_bet_container {
    max-width: 450px;
    min-height: 300px;
    background-color: #1F1F1F;
    position: relative;
    border-radius: 20px;
    padding-top: 55px;
    overflow: hidden;
}

.bet_box_title_box {
    color: #fff;
    background-color: var(--my-green);
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0 12px;
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.bet_box_title_box p{
    color: #fff;
    font-weight: 600;
}