.live_page_container {
    margin: 25px 0;
}

.lives_highlights {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.live_bottom_story {
    color: var(--gray_color);
    padding: 20px 5px;
    font-size: .9rem;
}


@media (max-width: 750px) {
    .lives_highlights {
        grid-template-columns: 1fr;
    }
}


.live_options {
    background-color: #1F1F1F;
    max-width: 300px;
    padding: 4px;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    margin: 20px 0;
}

.live_options button {
    color: #fff;
    padding: 8px;
    border-radius: 8px;
    width: 50%;
    font-weight: 500;
}

.green_select_btn {
    background-color: var(--my-green);
}

.transparent_select_btn {
    background-color: transparent;
}