

.fav_page_container {
    padding: 20px 0;
}

.fav_title_box {
    display: flex;
    align-items: center;
    gap: 8px;
}

.fav_title_box p {
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
}

.fav_options {
    background-color: #1F1F1F;
    max-width: 300px;
    padding: 4px;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    margin: 20px 0;
}

.fav_options button {
    color: #fff;
    padding: 8px;
    border-radius: 8px;
    width: 50%;
    font-weight: 500;
}

.green_select_btn {
    background-color: var(--my-green);
}

.transparent_select_btn {
    background-color: transparent;
}