@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background_gray: #ffffff18;
  --gray_color: #B3B3B3;
}


* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #141414;
  width: 100%;
  height: 100%;
  padding: 0 200px;
}

.main_container {
  /* background-color: #141414; */
  /* width: 100%;
  height: 100%; */
}