.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2001;
  }
  
  .modalContainer {
    background-color: #1F1F1F;
    overflow: hidden;
    /* padding: 12px 20px; */
    border-radius: 12px;
    position: relative;
    /* width: 50%; */
    /* height: 90vh; */
    width: 100%;
    max-width: 450px;
    height: 100%;
    max-height: 90vh;
  }

  .bet_slip_title_bar {
    background: #B1BF24;
    padding: 20px;
  }

  .bet_slip_selector_bar {
    background-color: #262626;
    /* padding: 15px; */
    height: 50px;
  }

  /* BET MODAL INITIATOR STYLES */

  .betting_initiator {
    width: 100px;
    height: 100px;
    /* background-color: #fff; */
    position: fixed;
    z-index: 2002;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-in-out;
  }