.fav_loading_container {
    background-color: #333333;
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 300px;
    min-height: 200px;
    max-width: 450px;
    max-height: 300px;
    border-radius: 12px;
    margin: 0 auto;
    padding: 8px;
}

.fav_loading_circles {
    position: absolute;
    z-index: 20;
    top: -20px;
    right: -20px;
}

@media (max-width: 530px) {
    .fav_loading_circles {
        top: -10px;
        right: -10px;
    }
}

.fav_circles {
    /* background-color: red; */
    border-radius: 50%;
    border: 1px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fav_one {
    width: 130px;
    height: 130px;
}

.fav_two {
    width: 100px;
    height: 100px;
}

.fav_three {
    width: 80px;
    height: 80px;
}

.act_fav_loading_box {
    /* background-color: red; */
    /* width: 100%;
    height: 100%;
    min-width: 300px;
    min-height: 200px;
    max-width: 450px;
    max-height: 250px;
    border-radius: 12px; */
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fav_load_box_btns {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 1fr;
    gap: 6px;
}

.fav_load_box_btn {
    background-color: #404040;
    height: 40px;
    width: 100%;
    border-radius: 8px;
}

.fav_load_box_btn_small {
    background-color: #404040;
    height: 40px;
    width: 10 0%;
    border-radius: 8px;
}

.fav_load_inner_rect {
    max-width: 250px;
    width: 100%;
    height: 20px;
    background-color: #404040;
    margin-bottom: 5px;
    border-radius: 20px;
}

.fav_load_box_tiny1 {
    background-color: #404040;
    max-width: 80px;
    width: 100%;
    height: 20px;
    border-radius: 20px;
}

.user_typa_box {
    display: flex;
    gap: 8px;
    margin-bottom: 5px;
}

.user_typa_box_circle {
    background-color: #404040;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.user_typa_box_rect {
    background-color: #404040;
    width: 100px;
    height: 20px;
    border-radius: 20px;
}




/* STYLING THE EMPTY TICKET COMPONENT */

.empty_ticket_loading_container {
    margin: 20px 0 0px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* background-color: red; */
    align-items: center;
}

.empty_ticket_box {
    position: relative;
    background-color: #333333;
    max-width: 430px;
    min-height: 90px;
    width: 100vw;
    border-radius: 8px;
    padding: 12px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.empty_ticket_accent {
    width: 10px;
    height: 70%;
    background-color: var(--my-green);
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
}

.empty_ticket_right_box {
    /* background-color: red; */
    max-height: 65px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.empty_ticket_right_box div {
    width: 20px;
    height: 15px;
    background-color: #404040;
    border-radius: 20px;
}

.empty_ticket_left_box {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.empty_ticket_common {
    background-color: #404040;
    height: 15px;
    width: 100vw;
    border-radius: 20px;
}

.empty_ticket_one {
    max-width: 200px;
}

.empty_ticket_two {
    max-width: 185px;
}

.empty_ticket_three {
    max-width: 30px;
}
