

.main_nav_container {
  position: relative;
  z-index: 2000;
}

.left_side_content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main_nav_logo {
  width: 150px;
  /* height: 33px; */
}

.nav_top_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.right_side_content {
  display: flex;
  gap: 12px;
}

.auth_btns_box {
  display: flex;
  align-items: center;
  /* margin: 0 12px; */
  gap: 12px;
}

.auth_btns_box_buttons {
  /* background-color: gray; */
  width: 110px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-weight: 600;
  font-size: .85rem;
}

.nav_btn_signup {
  border: 1px solid #B1BF24;
  color: #B1BF24;
}

.nav_btn_login {
  background-color: #B1BF24;
  color: #fff;
}


.country_language_option_box {
  display: flex;
  background-color: #ffffff18;
  /* width: 45px; */
  height: 35px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff2e;
  padding: 0 12px;
  gap: 8px;
}

.chat_btn {
  display: flex;
  align-items: center;
  background-color: #ffffff18;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff2e;
}

.flag_circle {
  /* background-color: red; */
  /* padding: 12px; */
  width: 23px;
  height: 23px;
  border-radius: 50%;
  overflow: hidden;
}

.nav_bottom_menu {
  background-color: #ffffff0f;
  border-radius: 12px;
  margin-top: 8px;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #ffffff22;
}

.common_nav_bottom_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.nav_bottom_menu_1{
  flex: 1;
}

.nav_bottom_menu_2{
  /* background-color: red; */
  flex: 2;
  padding: 12px 0;
  border-left: 1px dotted #ffffff58;
  border-right: 1px dotted #ffffff58;
}

.nav_bottom_menu_3{
  flex: 1;
}

.link_menu {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 12px;
}

.link_menu p{
  /* color: red; */
  font-family: sans-serif;
  font-size: 1rem;
}




/* AUTHENTICATED ITEM STYLES */


.nav_left_contents_box {
  position: relative;
}


.main_nav_bonuses_box {
  background-color: #333333;
  width: 350px;
  min-height: 450px;
  position: absolute;
  /* bottom: -100%; */
  border-radius: 12px;
  padding: 15px;
  margin-top: 14px;
}

.nav_btn_bonuses {
  background-color: #B1BF24;
  display: flex;
  gap: 8px;
  padding: 8px 13px;
  border-radius: 12px;
  font-size: .85rem;
  align-items: center;
}

.nav_btn_bonuses p {
  font-family: var(--font-mont);
  font-weight: 600;
  color: #fff;
}

.main_nav_bonuses_claim_all_btn {
  background-color: #B1BF24;
  background-color: var(--my-green);
  width: 100%;
  margin-top: 12px;
  padding: 8px 12px;
  border-radius: 8px;
  color: #fff;
}

.bonus_claim_btn {
  background-color: var(--my-green);
  padding: 6px 12px;
  border-radius: 8px;
  color: #fff;
  font-weight: 300;
}

.main_nav_bonuses_actual {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.icon_n_title,
.main_nav_single_bonus_box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.main_nav_single_bonus_box {
  background-color: #404040;
  justify-content: space-between;
  padding: 8px 12px;
  border-radius: 8px;
}

.icon_n_title {
  /* padding: 8px; */
  justify-content: space-between;
}

.icon_n_title p {
  color: #fff;
}

.bonus_above_label {
  font-size: .8rem !important;
  color: rgb(150, 148, 148) !important;
  font-weight: 400 !important;
}

.logo_drop {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo_circle {
  background-color: #ffffff0f;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.nav_notification {
  display: flex;
  align-items: center;
  background-color: #ffffff18;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff2e;
}

.nav_authed_wallet {
  display: flex;
  align-items: center;
  background-color: #ffffff18;
  min-width: 220px;
  height: 40px;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ffffff2e;
}

.nav_wallet_btn {
  background-color: #B1BF24;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  padding: 0 12px;
}

.nav_wallet_btn p {
  color: #fff;
  font-weight: 600;
  font-size: .85rem;
}

.nav_balance_box {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 8px;
  padding-left: 12px;
}

.right_sect button {
  background-color: #B1BF24;
  color: #fff;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: .85rem;
  font-weight: 500;
}

.main_nav_sub_menu {
  color: #fff;
  width: 40px;
  height: 40px;
  background-color: rgba(128, 128, 128, 0.312);
  padding: 8px;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 8px;
  margin-left: 20px;
}

.main_nav_mobile_menu_btn {
  width: 40px;
  height: 40px;
  display: none;
  background-color: #ffffff18;
  border: 2px solid #ffffff2e;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
}









@media (max-width: 1190px) {
  .nav_bottom_menu_3 {
    display: none;
  }
  .main_nav_sub_menu {
    display: flex;
  }
}

@media (max-width: 900px) {
  .none_menu_sections {
    display: none;
  }

  .main_nav_mobile_menu_btn {
    display: flex;
  }

  .nav_notification {
    width: 40px;
    height: 40px;
  }

  .main_nav_logo {
    width: 120px;
    /* height: 33px; */
  }
}